
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from portotheme.com/html/molla/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2024 11:35:56 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>First-project</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">

     <!-- CDN for sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="page-wrapper">

        <%- include('../partials/header.ejs') %>
        
    </div>

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
							    </li>
							    <!-- <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
							    </li> -->
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form action="#">
							    		<div class="form-group">
							    			<label for="singin-email-2">Username or email address *</label>
							    			<input type="text" class="form-control" id="singin-email-2" name="singin-email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" class="form-control" id="singin-password-2" name="singin-password" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>LOG IN</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="signin-remember-2">
												<label class="custom-control-label" for="signin-remember-2">Remember Me</label>
											</div><!-- End .custom-checkbox -->

											<a href="#" class="forgot-link">Forgot Your Password?</a>
							    		</div><!-- End .form-footer -->
							    	</form>
							    	<div class="form-choice">
								    	<p class="text-center">or sign in with</p>
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-g">
								    				<i class="icon-google"></i>
								    				Login With Google
								    			</a>
								    		</div><!-- End .col-6 -->
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div>End .col-6
								    	</div><!-- End .row -->
							    	</div><!-- End .form-choice -->
							    </div><!-- .End .tab-pane -->
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form  id="loginForm">
							    		<div class="form-group">
							    			<label for="register-email-2">Your email address *</label>
							    			<input type="email" class="form-control" id="register-email-2" name="register-email"  required>
                                            <span id="register-email-2-error"  class="error-message"></span>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-password-2">Password *</label>
							    			<input type="password" class="form-control" id="register-password-2" name="register-password"  required>
                                            <span id="register-password-2-error"  class="error-message"></span>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<!-- <div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
												<label class="custom-control-label" for="register-policy-2">Remember me</a> *</label>
											</div> -->
                                            <!-- End .custom-checkbox -->
                                            
                                            <!-- <a href="/forgot-password" class="forgot-password-link " style="margin-left: 160px;">Forgot your password?</a> -->
                                            <!-- <button type="button" class="forgot-password-link" style="margin-left: 275px; margin-top: -35px;" data-toggle="modal" data-target="#forgotPasswordModal">
                                                Forgot your password
                                            </button> -->
                                            
                                            <button type="button" class="btn btn-outline-primary-2" style="margin-left: 275px; margin-top: -35px;" data-toggle="modal" data-target="#forgotPasswordModal">
                                                <span>Forgot your password</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            <p style="margin-top: 50px;">Don't have an account? 
                                                <button type="button" class="btn btn-outline-primary-2" style="display: inline;" onclick="location.href='/register';">
                                                    <span>Register here</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </p>
                                                
							    		</div><!-- End .form-footer -->
                                     
                                    

							    	</form>
							    	<div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Trigger Google OAuth login -->
                                                <a href="/auth/google" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- End .col-6 -->
								    		<!-- <div class="col-sm-6"> -->
								    			<!-- <a href="#" class="btn btn-login  btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a> -->
								    		<!-- </div>End .col-6 -->
								    	<!-- </div>End .row -->
							    	<!-- </div>End .form-choice -->
							    <!-- </div>.End .tab-pane -->
							<!-- </div>End .tab-content -->
						<!-- </div>End .form-tab -->
            		<!-- </div>End .form-box -->
            	<!-- </div>End .container -->
            <!-- </div>End .login-page section-bg -->
        </main>
        <!-- End .main -->

      <%- include('../partials/footer.ejs') %>




 <!-- Modal for forgot password -->
 

 <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="resetPasswordForm">
                    <div class="form-group">
                        <label for="reset-email">Email</label>
                        <input type="email" name="email" class="form-control" id="reset-email" required>
                        <small id="emailError" style="color: red; display: none;">Please enter a valid email.</small>
                    </div>
                    <div class="form-group">
                        <label for="reset-newPassword">New Password</label>
                        <input type="password" name="newPassword" class="form-control" id="reset-newPassword" required>
                        <small id="passwordLengthError" style="color: red; display: none;">Password must be at least 6 characters long.</small>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" name="confirmPassword" class="form-control" id="confirm-password" required>
                        <small id="passwordMatchError" style="color: red; display: none;">Passwords do not match.</small>
                    </div>
                    <button type="button" id="submitResetPassword" class="btn btn-primary" disabled>Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script>
// Helper function to validate email format
function validateEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

// Helper function to validate password length (at least 6 characters)
function validatePasswordLength(password) {
    return password.length >= 6;
}

// Helper function to check if passwords match
function passwordsMatch(password, confirmPassword) {
    return password === confirmPassword;
}

// Function to check if all validations are met and enable/disable the button
function checkValidation() {
    const email = document.getElementById('reset-email').value.trim();
    const newPassword = document.getElementById('reset-newPassword').value.trim();
    const confirmPassword = document.getElementById('confirm-password').value.trim();

    const emailValid = validateEmail(email);
    const passwordLengthValid = validatePasswordLength(newPassword);
    const passwordsMatchValid = passwordsMatch(newPassword, confirmPassword);

    // Show or hide email error
    if (!emailValid) {
        document.getElementById('emailError').style.display = 'block';
    } else {
        document.getElementById('emailError').style.display = 'none';
    }

    // Show or hide password length error
    if (!passwordLengthValid) {
        document.getElementById('passwordLengthError').style.display = 'block';
    } else {
        document.getElementById('passwordLengthError').style.display = 'none';
    }

    // Show or hide password match error
    if (!passwordsMatchValid) {
        document.getElementById('passwordMatchError').style.display = 'block';
    } else {
        document.getElementById('passwordMatchError').style.display = 'none';
    }

    // Enable or disable button based on validation results
    if (emailValid && passwordLengthValid && passwordsMatchValid) {
        document.getElementById('submitResetPassword').disabled = false;
    } else {
        document.getElementById('submitResetPassword').disabled = true;
    }
}

// Add real-time validation for email, new password, and confirm password fields
document.getElementById('reset-email').addEventListener('input', checkValidation);
document.getElementById('reset-newPassword').addEventListener('input', checkValidation);
document.getElementById('confirm-password').addEventListener('input', checkValidation);

// Submit button click handler
document.getElementById('submitResetPassword').addEventListener('click', function () {
    const email = document.getElementById('reset-email').value.trim();
    const newPassword = document.getElementById('reset-newPassword').value.trim();

    // Create the form data object to send
    const formData = {
        email: email,
        newPassword: newPassword
    };

    // Send the data via POST request
    fetch('/forgotpassword', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        if (response.status === 403) { 
            throw new Error('Your account is blocked');
        }
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            Swal.fire('Success!', data.message, 'success');
            $('#forgotPasswordModal').modal('hide'); // Hide the modal after successful reset
        } else {
            Swal.fire('Error!', data.message, 'error');
        }
    })
    .catch(error => {
        if (error.message === 'Your account is blocked') {
            Swal.fire('Blocked!', 'Your account is blocked. Please contact support.', 'error');
        } else {
            Swal.fire('Error!', 'An error occurred while resetting the password.', 'error');
        }
    });
});



    </script>
    

    <script>

        document.addEventListener('DOMContentLoaded',function(){
            function validateEmail(email){
                return /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(email);
            }

            function validatePassword(password){
                return password.length >= 6
            }

            function showError(inputId,message){
                const errorElement = document.getElementById(`${inputId}-error`);
                if(errorElement){
                    errorElement.textContent = message;
                    errorElement.style.display = 'block';
                }
            }
            function hideError(inputId){
                const errorElement = document.getElementById(`${inputId}-error`);
                if(errorElement){
                    errorElement.textContent = '';
                    errorElement.style.display = 'none';
                }
            }

            const emailInput = document.getElementById('register-email-2');
            const passwordInput = document.getElementById('register-password-2');

            emailInput.addEventListener('input',function(){
                const email = emailInput.value;
                if(!validateEmail(email)){
                    showError('register-email-2','Please enter a valid email');
                }else{
                    hideError('register-email-2')
                }
            });

            passwordInput.addEventListener('input',function(){
                const password = passwordInput.value;
                if(!validatePassword(password)){
                    showError('register-password-2','Password must be atleast 6 characters')
                }else{
                    hideError('register-password-2')
                }
            })

            document.getElementById('loginForm').addEventListener('submit',async function (e) {
                e.preventDefault();

                const email = emailInput.value;
                const password = passwordInput.value;

                hideError('register-email-2');
                hideError('register-password-2');

                let isvalid = true;

                if(!validateEmail(email)){
                    showError('register-email-2','Please enter a valid email.')
                    isvalid = false;
                }
                if(!validatePassword(password)){
                    showError('register-password-2','Password must be atleast 6 characters')
                    isvalid = false;
                }

                if(!isvalid){
                    Swal.fire({
                        icon : 'error',
                        title : "Invaid Input",
                        text : "Please fix the error and try again",
                        confirmButtonText : "Try again"
                    });
                    return;
                }

                try {
                    const response = await fetch('/login',{
                        method : "POST",
                        headers : {
                            "Content-Type" : "application/json"
                        },
                        body : JSON.stringify({email,password})
                    })
                    console.log('response',response)
                    const result = await response.json();
                    console.log('result',result)

                    if(result.status === "success"){
                        Swal.fire({
                            icon : 'success',
                            title : "Login successfull",
                            text : "Redirecting to home page...",
                            confirmButtonText : "OK"
                        }).then(() => {
                            window.location.href = '/';
                        })
                    }else{
                        Swal.fire({
                            icon : "error",
                            title : "Login failed",
                            text : result.message,
                            confirmButtonText : "Try again"
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon : 'error',
                        title : "Error",
                        text : "An error occurred during Login.Please try again",
                        confirmButtonText : "OK"
                    })
                    console.log('An error while logging',error.message);
                    
                }
            })
        })

        // document.getElementById('loginForm').addEventListener('submit',async function (e) {
        // e.preventDefault();
        // const email = document.getElementById('register-email-2').value;
        // const password = document.getElementById('register-password-2').value;
        // console.log('Email and password',email,password);
        // try {
        //     const response = await fetch('/login',{
        //         method : "POST",
        //         headers : {
        //             "Content-Type" : "application/json"
        //         },
        //         body : JSON.stringify({email,password}),
        //     });
        //     console.log('response',response)
        //     const result = await response.json();
        //     console.log('result',result)
        //     if(result.status === "success"){
        //         window.location.href = '/'
        //     }else{
        //         alert(result.message);
        //     }
        // } catch (error) {
        //     alert('An error occurred during login.Please try again')
        //     console.log('catch error',error.message)
        // }
        // })
    </script>
</body>


<!-- Mirrored from portotheme.com/html/molla/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2024 11:35:57 GMT -->
</html>